<div class="container" style="text-align:center">
  <h2>SIGN UP FOR A NEW BEGINNING</h2>
  <form>
    <div class="container">
      <input type="text" title="firstname" placeholder="Firstname" />
    </div>

    <div class="container">
      <input type="text" title="lastname" placeholder="Lastname" />
    </div>

    <div class="container">
      <input type="email" title="email" placeholder="Email" />
    </div>

    <div class="container">
      <input type="number" title="phonenumber" placeholder="PhoneNumber" />
    </div>

    <div class="container">
      <button type="submit" class="btn">SIGN UP</button>
    </div>
  </form>
</div>
